{{include './header'}}

<article id="homePage">
    <!-- 左侧导航模块 -->
    <aside>
        <!-- 简介 照片 首页显示 -->
        <div class="guanyu">
          <div class="guanyu-top"><p>关于</p></div>
          <div class="guanyu-bot">
              <img src="/imgs/8.jpg" alt="">
               <div class="ps">
                   <p style="font-weight: 600;">TaoYinG</p>
                   19年入行，一直潜心研究web前端技术，一边工作一边分享一些个人博客模板。
               </div>
      
          </div>

        </div>

        <div class="photo">
            <div class="photo-top"><p>相册</p></div>
            <div class="photo-bot">
                <ul>
                    <li><a href="/"><img src="/imgs/7.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/11.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/9.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/10.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/15.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/12.jpg"></a></li>
                  </ul>
          
        
            </div>
  
          </div>
        

        <!-- 搜索 -->
        <div id="inp">
            <form action="/search" method="GET" >
                <input type="text" name="search" id="one" placeholder="请输入关键字词">
                <input type="submit" id="two" value="搜索">
            </form>
        </div>
        <!-- 分类 -->
        <div id="classify">
            <h2>分类</h2>
            <ul>
                <li><a>文章<span class="count"></span></a></li>
                <li><a href="#">相册(6)</a></li>
            </ul>
        </div>
       

        <!-- 点击排行 -->
        <div id="sorts" class="cliclSort">
            <h2>点击排行</h2>
            <ul id="container"></ul>
          
        </div>

      

        <!-- 关注我 -->
        <div id="attention">
            <h2>关注我</h2>
            <ul><img src="/imgs/16.jpg" alt=""></ul>
        </div>
    </aside>

    <main id="topShow" class="right">
       
        <div class="msg" style="border-bottom: none;">
          <p class="p1">{{msgs.title}}</p>
          <br>
          <span>作者:</span><span class="p2">{{msgs.author.username}}</span><span>|</span>
          <span>时间:</span><span>{{msgs.time}}</span><span>|</span>
          <span>标签:</span><span class="p2">{{msgs.label.join(' ')}}</span>
          <br>
          <br>
          <p style="color: #1AB392;margin-left: 5px;overflow: hidden;">{{msgs.content}}</p>
          <br>
          <span>阅读:</span><span>0</span><span>次</span><span>|</span>
          <span>评论:</span><span>{{msgs.reples.length}}</span><span>次</span>

          {{if user}}
         <a href="/bianji/{{msgs._id}}" class="bianji">编辑</a>
         <a href="/delete/{{msgs._id}}" class="shanchu">删除</a>
         {{/if}}
        </div> 
            
         <div class="reply">
            <ol>
                
                <p class="pinglun" style="font-weight: 800;">评论</p>
                {{each msgs.reples reply}}
                <li>
                    <span style="color: #1AB392;">{{reply.username}}</span><span>回复于:</span><span>{{reply.time}}</span>
                    <br>
                    <p>{{reply.content}}</p>
                    <br>
                </li>
                {{/each}}    
            </ol>
             {{if user}}
            <form action="/reply/{{msgs._id}}" method="post">
                <input type="text" name="_id" value="" hidden>
                <textarea name="content"></textarea><br>
                <button type="submit" style="margin-left: 0px;">回复</button>
            </form>
            {{/if}}
        </div>
         
    </main>
   
</article>

















{{include './footer'}}