{{include './header'}}


<article id="homePage">
    <!-- 左侧导航模块 -->
    <aside>
        <!-- 简介 照片 首页显示 -->
        <div class="guanyu">
          <div class="guanyu-top"><p>关于</p></div>
          <div class="guanyu-bot">
              <img src="/imgs/8.jpg" alt="">
               <div class="ps">
                   <p style="font-weight: 600;">TaoYinG</p>
                   19年入行，一直潜心研究web前端技术，一边工作一边分享一些个人博客模板。
               </div>
      
          </div>

        </div>

        <div class="photo">
            <div class="photo-top"><p>相册</p></div>
            <div class="photo-bot">
                <ul>
                    <li><a href="/"><img src="/imgs/7.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/11.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/9.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/10.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/15.jpg"></a></li>
                    <li><a href="/"><img src="/imgs/12.jpg"></a></li>
                  </ul>
          
        
            </div>
  
          </div>
        

        <!-- 搜索 -->
        <div id="inp">
            <form action="/search" method="GET" >
                <input type="text" name="search" id="one" placeholder="请输入关键字词">
                <input type="submit" id="two" value="搜索">
            </form>
        </div>
        <!-- 分类 -->
        <div id="classify">
            <h2>分类</h2>
            <ul>
                <li><a>文章<span class="count"></span></a></li>
                <li><a href="#">相册(6)</a></li>
            </ul>
        </div>

        <!-- 站长推荐 文章页显示-->
       

        <!-- 点击排行 -->
        <div id="sorts" class="cliclSort">
            <h2>点击排行</h2>
            <ul id="container"></ul>
            <script type="text/html" id="temp"></script>
               
            </script>
        </div>

      

        <!-- 关注我 -->
        <div id="attention">
            <h2>关注我</h2>
            <ul><img src="/imgs/16.jpg" alt=""></ul>
        </div>
    </aside>

    <main id="topShow" class="right">

    {{each msgs msg}}
      <div class="msg">
        <p class="p1"><a href="/detail/{{msg._id}}">{{msg.title}}</a></p>
        <br>
        <span>作者:</span><span class="p2"><a href="/people/{{msg.author._id}}">{{msg.author.username}}</a></span><span>|</span>
        <span>时间:</span><span>{{msg.time}} </span><span>|</span>
        <span>标签:</span><span class="p2"><span><a href="/biaoqian">{{msg.label.join(' ')}}</a></span>
        <br>
        <br>
        <p style="color: #1AB392;margin-left: 5px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
        <nobr><a href="/detail/{{msg._id}}">{{msg.content}}</a></nobr></p>
        <br>
        <span>阅读:</span><span>0</span><span>次</span><span>|</span>
        <span>评论:</span><span>{{msg.reples.length}}</span><span>次</span>
       </div> 
      {{/each}}             
    </main>

</article>


{{include './footer'}}